security:
    providers:
        supabase_provider:
            id: App\Security\SupabaseProvider

    firewalls:
        dev:
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false

        main:
            lazy: true
            provider: supabase_provider
            stateless: false

            custom_authenticator: App\Security\SupabaseAuthenticator

            logout:
                path: app_logout_supabase
                invalidate_session: true

    access_control:
        - { path: ^/login$, roles: PUBLIC_ACCESS }
        - { path: ^/register$, roles: PUBLIC_ACCESS }
        - { path: ^/, roles: ROLE_USER }
