services:
  database:
    image: postgres:${POSTGRES_VERSION:-16}-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-elysium}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-elysium}
      POSTGRES_USER: ${POSTGRES_USER:-elysium}
    ports:
      - "5432:5432"
    volumes:
      - database_data:/var/lib/postgresql/data:rw

  adminer:
    image: adminer
    restart: always
    ports:
      - '29080:8080'

  mailer:
    image: mailhog/mailhog
    ports:
      - "1025:1025"   # SMTP
      - "8025:8025"   # Web UI

  messenger:
    build: .
    container_name: elysium_messenger
    command: php bin/console messenger:consume async -vv
    # volumes:
    #   - .:/app
    env_file:
      - .env
    depends_on:
      - database
    environment:
      DATABASE_URL: "postgresql://elysium:elysium@database:5432/elysium?serverVersion=16&charset=utf8"

  reminder:
    build: .
    container_name: elysium_reminder
    command: sh -c "while true; do php bin/console app:mail:reservation-reminders; sleep 300; done"
    # volumes:
    #   - .:/app
    env_file:
      - .env
    depends_on:
      - database
    environment:
      DATABASE_URL: "postgresql://elysium:elysium@database:5432/elysium?serverVersion=16&charset=utf8"

volumes:
  database_data:
