services:
  database:
    image: postgres:${POSTGRES_VERSION:-16}-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB:-elysium}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-elysium}
      POSTGRES_USER: ${POSTGRES_USER:-elysium}
    ports:
      - "5432:5432"
    volumes:
      - database_data:/var/lib/postgresql/data:rw
  adminer:
    image: adminer
    restart: always
    ports:
      - '29080:8080'
volumes:
  database_data:
