{% extends 'emails/base.html.twig' %}

{% block title %}
Reservation confirmed
{% endblock %}

{% block content %}
<p>Hello {{ user.firstname }},</p>

<p>Your reservation has been successfully created.</p>

<ul>
    <li><strong>Resource:</strong> {{ resource.name }}</li>
    <li><strong>Date:</strong> {{ reservation.start|date('Y-m-d H:i') }} → {{ reservation.end|date('Y-m-d H:i') }}</li>
</ul>

<p>See you soon!</p>
{% endblock %}
